<!--
aemo English master version 11
source code formatting to be preserved line should not
exceed 70 characters, there might be an issue with inbound
conversion on Exchange 2013/Outlook 2010
-->
<div align=center>

<table border=0 cellspacing=0 cellpadding=0 width=575
style="font-size:11pt;font-family:Calibri,Helvetica,sans-serif;background-color:#FEFEFE;">
<tbody>

<tr>
<td>
<p align=center style="margin:0;">
<!-- branding image refers to manage1.esna.com by default -->
<img alt="$(LOGO_TIP)" width=575 height=128
src="https://manage1.esna.com/equinox.mso/img/cloud/logo2.en.png"/>
</p>
</td>
</tr>

<tr><td align=center>

<table border=0 cellspacing=0 cellpadding=0 width=550
style="font-size:11pt;font-family:Calibri,Helvetica,sans-serif;">

<tr><td colspan=3 style="font-size:5px;background-color:#FEFEFE;">
&nbsp;</td></tr>

<tr>
<td style="text-align:right"
width=$(COL1_WIDTH)><img width=62 height=62 alt="logo"
src="https://manage1.esna.com/equinox.mso/img/cloud/equinox.png"/>
</td>
<td style="text-align:left;"
width=$(COL2_WIDTH)><p style="margin:0.5em;margin-right:0;">
<span style="color:#E33F24;font-size:120%;">
<b>$(MEETING_ACCESS)</b>
</span>
</p></td>
<td width=$(COL3_WIDTH) style="font-family:Calibri,Helvetica,sans-serif;">
<p style="font-weight:bold;font-size:175%;">
<a style="color:#E33F24;"
href="[DESKTOP_MOBILE_ACCESS_LINK]" target="_blank">
$(JOIN_MEETING)
</a>
</p>
</td>
</tr>

<tr><td colspan=3 style="font-size:5px;background-color:#FEFEFE;">
&nbsp;</td></tr>

<tr>
<td style="text-align:right;"
width=$(COL1_WIDTH)><img width=62 height=62 alt="logo"
src="https://manage1.esna.com/equinox.mso/img/cloud/h323.png"/>
</td>
<td style="text-align:left;"
width=$(COL2_WIDTH)><p style="margin:0.5em;margin-right:0;">
<span style="font-size:120%;color:#E33F24;">
<b>$(MEETING_JOIN)</b>
</span>
</p></td>

<td width=$(COL3_WIDTH)>
<p style="margin-top:4px;margin-bottom:4px;color:#000;">
$(ENTER_SIPURI_PREFIX)
<span style="color:#E33F24">
[MEETING_ID]@$(MEETINGS_DOMAIN)
</span>$(ENTER_SIPURI_POSTFIX)
</p>[PIN_START]
<p style="margin-top:4px;margin-bottom:4px">
$(ENTER_PIN_PREFIX) 
<b>[PIN]#</b>$(ENTER_PIN_POSTFIX)
</p>[PIN_END]
<p style="margin-top:4px;margin-bottom:4px;font-family:Calibri,Helvetica,sans-serif;">
$(DIALING_METHODS_PREFIX)  
<a style="color:#E33F24;" target="_blank"
href="https://support.avaya.com/public/index?page=content&id=FAQ109927"
>$(DIALING_METHODS_LINK)</a>$(DIALING_METHODS_POSTFIX)
</p></td>
</tr>

<tr><td colspan=3 style="font-size:5px;background-color:#FEFEFE;">
&nbsp;</td></tr>

<tr>
<td style="text-align:right;" width=$(COL1_WIDTH)>
<img width=62 height=62 alt="logo"
src="https://manage1.esna.com/equinox.mso/img/cloud/audio.png"/>
</td>
<td style="text-align:left;" width=$(COL2_WIDTH)>
<p style="margin:0.5em;margin-right:0;">
<span style="color:#E33F24;font-size:120%;">
<b>$(MEETING_DIAL)</b>
</span>
</p></td>

<td width=$(COL3_WIDTH)>
<p style="font-size:125%;font-weight:bold;margin-bottom:0.5em;">
$(UNITED_STATES)&nbsp;
<a href="tel:$(UNITED_STATES_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END]," target="_blank"
style="color:#E33F24;font-family:Calibri,Helvetica,sans-serif;">
$(UNITED_STATES_PHONE)</a>
</p>
<p style="color:#000;margin-top:0.25em;">
$(MEETING_ID)&nbsp;<b>[MEETING_ID]</b>
[PIN_START]&nbsp;$(MEETING_PIN)
&nbsp;<b>[PIN]</b>[PIN_END]
</p>
</td></tr>

<tr><td colspan=3 style="font-size:10px;background-color:#FEFEFE;">
&nbsp;</td></tr>

<tr><td colspan=3>
<!-- Phone links & locations below to be edited -->
<table border=0 cellspacing=0 cellpadding=3 width=550
style="font-family:Calibri,Helvetica,sans-serif;font-size:10pt;">

<tr><td width=140>
$(ARGENTINA)
</td>
<td width=120><a href="tel:$(ARGENTINA_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(ARGENTINA_PHONE)</a>
</td>
<td width=140>
$(LUXEMBOURG)
</td>
<td width=120><a href="tel:$(LUXEMBOURG_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(LUXEMBOURG_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(AUSTRALIA)
</td>
<td width=120><a href="tel:$(AUSTRALIA_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(AUSTRALIA_PHONE)</a>
</td>
<td width=140>
$(MEXICO)
</td>
<td width=120><a href="tel:$(MEXICO_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(MEXICO_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(AUSTRIA)
</td>
<td width=120><a href="tel:$(AUSTRIA_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(AUSTRIA_PHONE)</a>
</td>
<td width=140>
$(NETHERLANDS)
</td>
<td width=120><a href="tel:$(NETHERLANDS_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(NETHERLANDS_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(BELGIUM)
</td>
<td width=120><a href="tel:$(BELGIUM_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(BELGIUM_PHONE)</a>
</td>
<td width=140>
$(NEW_ZEALAND)
</td>
<td width=120><a href="tel:$(NEW_ZEALAND_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(NEW_ZEALAND_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(BRAZIL)
</td>
<td width=120><a href="tel:$(BRAZIL_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(BRAZIL_PHONE)</a>
</td>
<td width=140>
$(NORWAY)
</td>
<td width=120><a href="tel:$(NORWAY_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(NORWAY_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(CANADA_TOLL_FREE)
</td>
<td width=120><a href="tel:$(CANADA_TOLL_FREE_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(CANADA_TOLL_FREE_PHONE)</a>
</td>
<td width=140>
$(PANAMA)
</td>
<td width=120><a href="tel:$(PANAMA_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(PANAMA_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(CANADA)
</td>
<td width=120><a href="tel:$(CANADA_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(CANADA_PHONE)</a>
</td>
<td width=140>
$(PERU)
</td>
<td width=120><a href="tel:$(PERU_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(PERU_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(CHILE)
</td>
<td width=120><a href="tel:$(CHILE_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(CHILE_PHONE)</a>
</td>
<td width=140>
$(POLAND)
</td>
<td width=120><a href="tel:$(POLAND_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(POLAND_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(COLUMBIA)
</td>
<td width=120><a href="tel:$(COLUMBIA_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COLUMBIA_PHONE)</a>
</td>
<td width=140>
$(PORTUGAL)
</td>
<td width=120><a href="tel:$(PORTUGAL_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(PORTUGAL_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(CZECH_REPUBLIC)
</td>
<td width=120><a href="tel:$(CZECH_REPUBLIC_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(CZECH_REPUBLIC_PHONE)</a>
</td>
<td width=140>
$(PUERTO_RICO)
</td>
<td width=120><a href="tel:$(PUERTO_RICO_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(PUERTO_RICO_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(DENMARK)
</td>
<td width=120><a href="tel:$(DENMARK_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(DENMARK_PHONE)</a>
</td>
<td width=140>
$(ROMANIA)
</td>
<td width=120><a href="tel:$(ROMANIA_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(ROMANIA_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(DOMINICAN_REPUBLIC)
</td>
<td width=120><a href="tel:$(DOMINICAN_REPUBLIC_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(DOMINICAN_REPUBLIC_PHONE)</a>
</td>
<td width=140>
$(SINGAPORE)
</td>
<td width=120><a href="tel:$(SINGAPORE_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(SINGAPORE_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(FINLAND)
</td>
<td width=120><a href="tel:$(FINLAND_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(FINLAND_PHONE)</a>
</td>
<td width=140>
$(SLOVAKIA)
</td>
<td width=120><a href="tel:$(SLOVAKIA_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(SLOVAKIA_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(FRANCE)
</td>
<td width=120><a href="tel:$(FRANCE_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(FRANCE_PHONE_DIAL)</a>
</td>
<td width=140>
$(SOUTH_AFRICA)
</td>
<td width=120><a href="tel:$(SOUTH_AFRICA_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(SOUTH_AFRICA_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(GERMANY)
</td>
<td width=120><a href="tel:$(GERMANY_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(GERMANY_PHONE)</a>
</td>
<td width=140>
$(SPAIN)
</td>
<td width=120><a href="tel:$(SPAIN_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(SPAIN_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(HUNGARY)
</td>
<td width=120><a href="tel:$(HUNGARY_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(HUNGARY_PHONE)</a>
</td>
<td width=140>
$(SWEDEN)
</td>
<td width=120><a href="tel:$(SWEDEN_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(SWEDEN_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(INDIA)
</td>
<td width=120><a href="tel:$(INDIA_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(INDIA_PHONE)</a>
</td>
<td width=140>
$(SWITZERLAND)
</td>
<td width=120><a href="tel:$(SWITZERLAND_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(SWITZERLAND_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(IRELAND)
</td>
<td width=120><a href="tel:$(IRELAND_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(IRELAND_PHONE)</a>
</td>
<td width=140>
$(UNITED_KINGDOM)
</td>
<td width=120><a href="tel:$(UNITED_KINGDOM_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(UNITED_KINGDOM_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(ISRAEL)
</td>
<td width=120><a href="tel:$(ISRAEL_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(ISRAEL_PHONE)</a>
</td>
<td width=140>
$(UNITED_STATES_TOLL_FREE)
</td>
<td width=120><a href="tel:$(UNITED_STATES_TOLL_FREE_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(UNITED_STATES_TOLL_FREE_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(ITALY)
</td>
<td width=120><a href="tel:$(ITALY_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(ITALY_PHONE)</a>
</td>
<td width=140>
$(UNITED_STATES)
</td>
<td width=120><a href="tel:$(UNITED_STATES_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(UNITED_STATES_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(JAPAN)
</td>
<td width=120><a href="tel:$(JAPAN_PHONE_DIAL),,,[MEETING_ID]#[PIN_START],,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(JAPAN_PHONE)</a>
<td width=140>
&nbsp;
</td>
<td width=120>&nbsp;
</td>
</tr>

</table>

<p style="text-align:center;margin-top:0.5em;margin-bottom:0.5em;">
$(ACCESS_NUMBERS_PREFIX)
<a style="color:#E33F24;font-family:Calibri,Helvetica,sans-serif;" 
target="_blank"
href="https://support.avaya.com/public/index?page=content&id=FAQ114481"
>$(ACCESS_NUMBERS_LINK)</a>$(ACCESS_NUMBERS_POSTFIX)
</p>
</td></tr>
</table>

</td></tr>

<tr><td valign="center">
<p align="center" style="margin-bottom:0.5em;">
<a style="color:#E33F24;font-size:120%;font-family:Calibri,Helvetica,sans-serif;" 
target="_blank" href=
"https://support.avaya.com/public/index?page=content&id=FAQ115184">
$(MEETING_GUIDES)
</a>
</p>
</td></tr>

<tr><td style="text-align:center;font-size:10pt;color:#E33F24">
__________________________________________________________________________________</td></tr>

</tbody>
</table>

</div>