<center dir="$(DIR)"><table border=0 cellspacing=0 cellpadding=0 width=575
style="border-collapse:collapse;background:white;">
<tr><td width=575><p align=center style="margin:0;">
<!-- 
Attention: Admin can optionally replace the following default 
image location with the conference user portal location that 
has the custom logo image. 
For example: 
https://[USER_PORTAL_URI]/portal/custom-styles/999/customLogo.png 
-->
<img alt="$(LOGO_TIP)" height=94 width=575 
src="https://static.apps.avaya.com/scheduler/img/branding.png"/>
</p></td></tr>

<tr><td width=575><p align=center>
<table border=0 cellspacing=0 cellpadding=0 width=500 
style="border-collapse:collapse;background:white;">
<tr style="height:1in;">

<td width=75 valign=center 
style="border-bottom:solid 2px #dce1e6;">
<p style="margin:0">
<img alt="~" height=50 width=50 
src="https://static.apps.avaya.com/scheduler/img/meeting.png"/>
</p></td>

<td width=310 style="border-bottom:solid 2px #dce1e6;">
<p style="margin:0;font-size:13pt;">
<span style="font-family:Segoe UI,Verdana,Tahoma,sans-serif;">
$(MEETING_INVITATION_PREFIX)
</span><br/>
<span style="font-family:Segoe UI,Verdana,Tahoma,sans-serif;">
<b>
[VIRTUAL_ROOM_NAME]
</b>
$(MEETING_INVITATION_POSTFIX)
</span>
</p></td>

<td width=115 valign=center 
style="border-bottom:solid 2px #dce1e6;">

<p align=right style="margin:0">
<table width=$(JOIN_WIDTH) border=0 cellspacing=0 cellpadding=0 
style="border-collapse:collapse;">

<tr height=40>
<td width=$(JOIN_WIDTH1) 
style="background-color:#4baa39;margin:0 10pt;">
<p align=center style="color:white;font-size:16pt;">
<a href="[DESKTOP_MOBILE_ACCESS_LINK]" 
style="text-decoration:none;margin:0;color:white;font-size:16pt;">
<span style="font-family: Segoe UI,Verdana,Tahoma,sans-serif;">
<b>$(JOIN_MEETING)</b>
</span>
</a></p>
</td></tr>
</table>
</p>

</td>
</tr>

<tr><td width=500 colspan=3 style="padding:0 0 0.2in 0">
<p style="font-size:13pt;margin:1em 0 0 0;">
<span style="font-family: Segoe UI,Verdana,Tahoma,sans-serif;">
<b>$(CONFERENCE_INFORMATION)</b>
</span>
</p>

<p style="font-size:11pt;margin:0.5em 0 0 1em;">
<span style="font-family: Segoe UI,Verdana,Tahoma,sans-serif;">
<b>$(MEETING_ID)$(SPACE_AFTER_COLON)</b>
[MEETING_ID_WITH_SPACE_4]</span>[PIN_START]<br/>
<span style="font-family: Segoe UI,Verdana,Tahoma,sans-serif;">
<b>$(MEETING_PIN)$(SPACE_AFTER_COLON)</b>
[PIN]#</span>[PIN_END]
</p>

<p style="font-size:13pt;margin:1em 0 0 0;">
<span style="font-family: Segoe UI,Verdana,Tahoma,sans-serif;">
<b>$(JOIN_BY_VCS)</b>
</span>
</p>

<p style="font-size:11pt;margin:0.5em 0 0 1em;">
<span style="font-family: Segoe UI,Verdana,Tahoma,sans-serif;">
$(DIAL_MEETING_ID_PIN)
</span>
</p>

<p style="font-size:13pt;margin:1em 0 0 0;">
<span style="font-family: Segoe UI,Verdana,Tahoma,sans-serif;">
<b>$(JOIN_BY_PHONE)</b>
</span>
</p>

<p style="font-size:11pt;margin:0.5em 0 0 1em;">
<span style="font-family: Segoe UI,Verdana,Tahoma,sans-serif;">
$(USE_FOLLOWING_NUMBERS)
</span>
</p>

<p style="font-size:11pt;margin:0.5em 0 0 1em;">
<!-- 
Attention: Admin must manually replace the following 
bridge numbers and location labels with the right ones. 
Admin can add or delete rows when neccessary. 
-->
<span style="font-family: Segoe UI,Verdana,Tahoma,sans-serif;">
<b>$(&ALL_LOCATIONS)$(SPACE_AFTER_COLON)</b>
<a href="tel:$(ALL_LOCATIONS_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],">
&lrm;$(ALL_LOCATIONS_PHONE)
</a></span>
<br/>
<span style="font-family: Segoe UI,Verdana,Tahoma,sans-serif;">
<b>$(&NA_TOLL_FREE)$(SPACE_AFTER_COLON)</b>
<a href="tel:$(NA_TOLL_FREE_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],">
&lrm;$(NA_TOLL_FREE_PHONE)
</a></span>
<br/>
<span style="font-family: Segoe UI,Verdana,Tahoma,sans-serif;">
<b>$(&ISRAEL)$(SPACE_AFTER_COLON)</b>
<a href="tel:$(ISRAEL_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],">
&lrm;$(ISRAEL_PHONE)
</a></span>
<br/>
<span style="font-family: Segoe UI,Verdana,Tahoma,sans-serif;">
<b>$(&AUSTRALIA)$(SPACE_AFTER_COLON)</b>
<a href="tel:$(AUSTRALIA_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],">
&lrm;$(AUSTRALIA_PHONE)
</a></span>
<br/>
<span style="font-family: Segoe UI,Verdana,Tahoma,sans-serif;">
<b>$(&CANADA_OTTAVA)$(SPACE_AFTER_COLON)</b>
<a href="tel:$(CANADA_OTTAVA_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],">
&lrm;$(CANADA_OTTAVA_PHONE)
</a></span>
<br/>
<span style="font-family: Segoe UI,Verdana,Tahoma,sans-serif;">
<b>$(&CANADA_BELLEVILLE)$(SPACE_AFTER_COLON)</b>
<a href="tel:$(CANADA_BELLEVILLE_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],">
&lrm;$(CANADA_BELLEVILLE_PHONE)
</a></span>
<br/>
<span style="font-family: Segoe UI,Verdana,Tahoma,sans-serif;">
<b>$(&INDIA)$(SPACE_AFTER_COLON)</b>
<a href="tel:$(INDIA_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],">
&lrm;$(INDIA_PHONE)
</a>&nbsp;$(USE_PREFIX_ALPHA)</span>
<br/>
<span style="font-family: Segoe UI,Verdana,Tahoma,sans-serif;">
<b>$(&INDIA_BANGALORE)$(SPACE_AFTER_COLON)</b>
<a href="tel:$(INDIA_BANGALORE_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],">
&lrm;$(INDIA_BANGALORE_PHONE)
</a>&nbsp;$(USE_PREFIX_ALPHA)</span>
<br/>
</p>

</td></tr></table>
</p></td></tr>
</table></center>