<!--
onavaya English master version 4
source code formatting to be preserved line should not
exceed 70 characters, there might be an issue with inbound
conversion on Exchange 2013/Outlook 2010
-->
<div align=center dir="$(DIR)">

<table border=1 cellspacing=0 cellpadding=0 width=600
style="font-size:10pt;font-family:segoe ui,verdana,sans-serif;background-color:#F2F4F6;">
<tbody>

<tr>
<td>
<p align=center style="margin:0;">
<!-- branding image refers to static.apps.avaya.com by default -->
<img alt="$(LOGO_TIP)" width=600 height=128
src="https://conferencing.avaya.com/portal/custom-styles/999/eqc_header.png"/>
</p>
</td>
</tr>

<tr><td style="border-top:none;border-bottom:none;">
<p style="margin:1.5em;margin-bottom:0.5em;">
<span style="color:#E33F24;font-size:120%;">
<b>$(INVITATION_TITLE)</b>    
</span>
</p>
</td></tr>

<tr><td style="border-top:none;border-bottom:none;">
<p style="margin:1.5em;margin-top:0;">
$(MEETING_INVITATION)
</p>
</td></tr>

<tr><td align=center style="border-bottom:none;">

<table border=0 cellspacing=0 cellpadding=2 width=600
style="font-size:10pt;font-family:segoe ui,verdana,sans-serif;">

<tr>
<td style="text-align:right;border-bottom: solid 1px;"
width=$(COL1_WIDTH)><img width=62 height=62 alt="logo"
src="https://conferencing.avaya.com/portal/custom-styles/999/eqc_dmw_icon.png"/>
</td>
<td width=$(COL2_WIDTH) style="border-bottom: solid 1px;">
<p style="margin:0.5em;margin-right:0;">
<span style="color:#E33F24;font-size:120%;">
<b>$(MEETING_ACCESS)</b>
</span>
</p></td>
<td width=$(COL3_WIDTH) style="border-bottom: solid 1px;font-family:segoe ui,verdana,sans-serif;">
<p style="font-weight:bold;font-size:175%;margin:0">
<a style="color:#E33F24;"
href="[DESKTOP_MOBILE_ACCESS_LINK]" target="_blank">
$(JOIN_MEETING)
</a>
</p>
<p style="margin:0">
$(JOIN_MEETING_TIP)
</p>
</td>
</tr>

<tr>
<td style="text-align:right;"
width=$(COL1_WIDTH)><img width=62 height=62 alt="logo"
src="https://conferencing.avaya.com/portal/custom-styles/999/eqc_mrd_icon.png"/>
</td>
<td
width=$(COL2_WIDTH)><p style="margin:0.5em;margin-right:0;">
<span style="font-size:120%;color:#E33F24;">
<b>$(MEETING_JOIN)</b>
</span>
</p></td>

<td width=$(COL3_WIDTH)>
<p style="margin:0;margin-top:1.5em;margin-bottom:0.5em;"><b>$(JOIN_AVAYA_TITLE)</b></p>
<p style="margin:0;">$(JOIN_AVAYA_DIAL_PREFIX)<span>[MEETING_ID_WITH_SPACE_4]$(JOIN_AVAYA_DIAL_POSTFIX)</span>
[PIN_START]<br/>$(ENTER_PIN_PREFIX)[PIN]#$(ENTER_PIN_POSTFIX)[PIN_END]</p>

<p style="margin:0;margin-top:1.5em;margin-bottom:0.5em;"><b>$(JOIN_EXT_TITLE)</b></p>
<p style="margin:0;margin-bottom:1em;">$(JOIN_EXT_DIAL)
[PIN_START]<br/>$(ENTER_PIN_PREFIX)[PIN]#$(ENTER_PIN_POSTFIX)[PIN_END]</p>
<table cellspacing=2 cellpadding=1 width=$(COL3_WIDTH) style="font-family:segoe ui,verdana,sans-serif;font-size:10pt;">
<tr>
<td width=$(COL311_WIDTH)><b>$(&US_EAST)</b></td><td>&nbsp;</td>
<td width=$(COL312_WIDTH)><span>[MEETING_ID]@$(EXT_DOMAIN_US_EAST)</span></td>
</tr>
<tr>
<td width=$(COL311_WIDTH)><b>$(&US_WEST)</b></td><td>&nbsp;</td>
<td width=$(COL312_WIDTH)><span>[MEETING_ID]@$(EXT_DOMAIN_US_WEST)</span></td>
</tr>
<tr>
<td width=$(COL311_WIDTH)><b>$(&EMEA)</b></td><td>&nbsp;</td>
<td width=$(COL312_WIDTH)><span>[MEETING_ID]@$(EXT_DOMAIN_EMEA)</span></td>
</tr>
<tr>
<td width=$(COL311_WIDTH)><b>$(&APAC)</b></td><td>&nbsp;</td>
<td width=$(COL312_WIDTH)><span>[MEETING_ID]@$(EXT_DOMAIN_APAC)</span></td>
</tr>
</table>

<p style="margin:0;margin-top:1.5em;margin-bottom:0.5em;"><b>$(JOIN_EXTSIP_TITLE)</b></p>
<p style="margin:0;margin-bottom:1em;">$(JOIN_EXTSIP_DIAL)
[PIN_START]<br/>$(ENTER_PIN_PREFIX)[PIN]#$(ENTER_PIN_POSTFIX)[PIN_END]</p>
<table cellspacing=2 cellpadding=1 width=$(COL3_WIDTH) style="font-family:segoe ui,verdana,sans-serif;font-size:10pt;">
<tr>
<td width=$(COL311_WIDTH)><b>$(&US_EAST)</b></td><td>&nbsp;</td>
<td width=$(COL312_WIDTH)><span>sips:[MEETING_ID]@$(EXT_SIP_DOMAIN_US_EAST)</span></td>
</tr>
<tr>
<td width=$(COL311_WIDTH)><b>$(&US_WEST)</b></td><td>&nbsp;</td>
<td width=$(COL312_WIDTH)><span>sips:[MEETING_ID]@$(EXT_SIP_DOMAIN_US_WEST)</span></td>
</tr>
<tr>
<td width=$(COL311_WIDTH)><b>$(&EMEA)</b></td><td>&nbsp;</td>
<td width=$(COL312_WIDTH)><span>sips:[MEETING_ID]@$(EXT_SIP_DOMAIN_EMEA)</span></td>
</tr>
<tr>
<td width=$(COL311_WIDTH)><b>$(&APAC)</b></td><td>&nbsp;</td>
<td width=$(COL312_WIDTH)><span>sips:[MEETING_ID]@$(EXT_SIP_DOMAIN_APAC)</span></td>
</tr>
</table>
<p style="margin:0;">&nbsp;</p>
</td>
</tr>

<tr>
<td style="text-align:right;border-top: solid 1px;border-bottom:none;" width=$(COL1_WIDTH)>
<img width=62 height=62 alt="logo"
src="https://conferencing.avaya.com/portal/custom-styles/999/eqc_adi_icon.png"/>
</td>
<td width=$(COL2_WIDTH) style="border-top: solid 1px;border-bottom:none;">
<p style="margin:0.5em;margin-right:0;">
<span style="color:#E33F24;font-size:120%;">
<b>$(MEETING_DIAL)</b>
</span>
</p></td>

<td width=$(COL3_WIDTH) style="border-top: solid 1px;border-bottom:none;">
<p style="margin:0;margin-top:1.5em;margin-bottom:0.5em;"><b>
$(SOFTPHONE_CONNECT_PREFIX)<span style="color:#E33F24;">
$(SOFTPHONE_CONNECT_CONTENT)</span><span>$(SOFTPHONE_CONNECT_POSTFIX)
</span></b></p>
<p style="margin:0;margin-top:1em;margin-bottom:1em;"><b>$(PHONE_CONNECT_PREFIX_PREFIX)
<span style="color:#E33F24;">$(PHONE_CONNECT_PREFIX_CONTENT)</span><span>$(PHONE_CONNECT_PREFIX_POSTFIX)
</span>
<span>[MEETING_ID_WITH_SPACE_4]</span>$(PHONE_CONNECT_POSTFIX)
</b></p>
<p style="margin:0;margin-top:1em;margin-bottom:1em;"><b>$(CLIENT_CONNECT_PREFIX)
<span style="color:#E33F24;">$(CLIENT_CONNECT_CONTENT)</span><span>$(CLIENT_CONNECT_POSTFIX)
</span>
[PIN_START]<br/><br/>$(ENTER_PIN_PREFIX)[PIN]#$(ENTER_PIN_POSTFIX)[PIN_END]
</b></p>

<table cellspacing=0 cellpadding=0 width=$(COL3_WIDTH) style="font-family:segoe ui,verdana,sans-serif;font-size:10pt;">
<tr>
<td width=$(COL321_WIDTH)><span>$(&US_CANADA_TOLL_FREE)</span></td><td>&nbsp;</td>
<td width=$(COL322_WIDTH)><a href="tel:$(US_CANADA_TOLL_FREE_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(US_CANADA_TOLL_FREE_PHONE)</a></td>
</tr>
<tr>
<td width=$(COL321_WIDTH)><span>$(&US_EAST_REGION)</span></td><td>&nbsp;</td>
<td width=$(COL322_WIDTH)><a href="tel:$(US_EAST_REGION_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(US_EAST_REGION_PHONE)</a></td>
</tr>
<tr>
<td width=$(COL321_WIDTH)><span>$(&US_WEST_REGION)</span></td><td>&nbsp;</td>
<td width=$(COL322_WIDTH)><a href="tel:$(US_WEST_REGION_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(US_WEST_REGION_PHONE)</a></td>
</tr>
</table>
</td>
</tr>

</table>

</td></tr>

<tr><td align=center style="border-top: none;border-bottom: solid 1px;">
&nbsp;<br/>

<!-- Phone links & locations below to be edited -->
<table border=0 cellspacing=0 cellpadding=2 width=550
style="font-family:segoe ui,verdana,sans-serif;font-size:10pt;">

<tr><td width=140>
$(COUNTRY01)
</td>
<td width=120><a href="tel:$(COUNTRY01_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY01_PHONE)</a>
</td>
<td width=140>
$(COUNTRY27)
</td>
<td width=120><a href="tel:$(COUNTRY27_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY27_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(COUNTRY02)
</td>
<td width=120><a href="tel:$(COUNTRY02_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY02_PHONE)</a>
</td>
<td width=140>
$(COUNTRY28)
</td>
<td width=120><a href="tel:$(COUNTRY28_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY28_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(COUNTRY03)
</td>
<td width=120><a href="tel:$(COUNTRY03_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY03_PHONE)</a>
</td>
<td width=140>
$(COUNTRY29)
</td>
<td width=120><a href="tel:$(COUNTRY29_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY29_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(COUNTRY04)
</td>
<td width=120><a href="tel:$(COUNTRY04_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY04_PHONE)</a>
</td>
<td width=140>
$(COUNTRY30)
</td>
<td width=120><a href="tel:$(COUNTRY30_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY30_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(COUNTRY05)
</td>
<td width=120><a href="tel:$(COUNTRY05_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY05_PHONE)</a>
</td>
<td width=140>
$(COUNTRY31)
</td>
<td width=120><a href="tel:$(COUNTRY31_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY31_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(COUNTRY06)
</td>
<td width=120><a href="tel:$(COUNTRY06_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY06_PHONE)</a>
</td>
<td width=140>
$(COUNTRY32)
</td>
<td width=120><a href="tel:$(COUNTRY32_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY32_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(COUNTRY07)
</td>
<td width=120><a href="tel:$(COUNTRY07_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY07_PHONE)</a>
</td>
<td width=140>
$(COUNTRY33)
</td>
<td width=120><a href="tel:$(COUNTRY33_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY33_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(COUNTRY08)
</td>
<td width=120><a href="tel:$(COUNTRY08_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY08_PHONE)</a>
</td>
<td width=140>
$(COUNTRY34)
</td>
<td width=120><a href="tel:$(COUNTRY34_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY34_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(COUNTRY09)
</td>
<td width=120><a href="tel:$(COUNTRY09_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY09_PHONE)</a>
</td>
<td width=140>
$(COUNTRY35)
</td>
<td width=120><a href="tel:$(COUNTRY35_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY35_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(COUNTRY10)
</td>
<td width=120><a href="tel:$(COUNTRY10_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY10_PHONE)</a>
</td>
<td width=140>
$(COUNTRY36)
</td>
<td width=120><a href="tel:$(COUNTRY36_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY36_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(COUNTRY11)
</td>
<td width=120><a href="tel:$(COUNTRY11_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY11_PHONE)</a>
</td>
<td width=140>
$(COUNTRY37)
</td>
<td width=120><a href="tel:$(COUNTRY37_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY37_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(COUNTRY12)
</td>
<td width=120><a href="tel:$(COUNTRY12_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY12_PHONE)</a>
</td>
<td width=140>
$(COUNTRY38)
</td>
<td width=120><a href="tel:$(COUNTRY38_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY38_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(COUNTRY13)
</td>
<td width=120><a href="tel:$(COUNTRY13_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY13_PHONE)</a>
</td>
<td width=140>
$(COUNTRY39)
</td>
<td width=120><a href="tel:$(COUNTRY39_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY39_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(COUNTRY14)
</td>
<td width=120><a href="tel:$(COUNTRY14_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY14_PHONE)</a>
</td>
<td width=140>
$(COUNTRY40)
</td>
<td width=120><a href="tel:$(COUNTRY40_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY40_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(COUNTRY15)
</td>
<td width=120><a href="tel:$(COUNTRY15_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY15_PHONE)</a>
</td>
<td width=140>
$(COUNTRY41)
</td>
<td width=120><a href="tel:$(COUNTRY41_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY41_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(COUNTRY16)
</td>
<td width=120><a href="tel:$(COUNTRY16_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY16_PHONE)</a>
</td>
<td width=140>
$(COUNTRY42)
</td>
<td width=120><a href="tel:$(COUNTRY42_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY42_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(COUNTRY17)
</td>
<td width=120><a href="tel:$(COUNTRY17_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY17_PHONE)</a>
</td>
<td width=140>
$(COUNTRY43)
</td>
<td width=120><a href="tel:$(COUNTRY43_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY43_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(COUNTRY18)
</td>
<td width=120><a href="tel:$(COUNTRY18_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY18_PHONE)</a>
</td>
<td width=140>
$(COUNTRY44)
</td>
<td width=120><a href="tel:$(COUNTRY44_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY44_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(COUNTRY19)
</td>
<td width=120><a href="tel:$(COUNTRY19_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY19_PHONE)</a>
</td>
<td width=140>
$(COUNTRY45)
</td>
<td width=120><a href="tel:$(COUNTRY45_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY45_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(COUNTRY20)
</td>
<td width=120><a href="tel:$(COUNTRY20_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY20_PHONE)</a>
</td>
<td width=140>
$(COUNTRY46)
</td>
<td width=120><a href="tel:$(COUNTRY46_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY46_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(COUNTRY21)
</td>
<td width=120><a href="tel:$(COUNTRY21_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY21_PHONE)</a>
</td>
<td width=140>
$(COUNTRY47)
</td>
<td width=120><a href="tel:$(COUNTRY47_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY47_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(COUNTRY22)
</td>
<td width=120><a href="tel:$(COUNTRY22_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY22_PHONE)</a>
</td>
<td width=140>
$(COUNTRY48)
</td>
<td width=120><a href="tel:$(COUNTRY48_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY48_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(COUNTRY23)
</td>
<td width=120><a href="tel:$(COUNTRY23_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY23_PHONE)</a>
</td>
<td width=140>
$(COUNTRY49)
</td>
<td width=120><a href="tel:$(COUNTRY49_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY49_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(COUNTRY24)
</td>
<td width=120><a href="tel:$(COUNTRY24_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY24_PHONE)</a>
</td>
<td width=140>
$(COUNTRY50)
</td>
<td width=120><a href="tel:$(COUNTRY50_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY50_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(COUNTRY25)
</td>
<td width=120><a href="tel:$(COUNTRY25_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY25_PHONE)</a>
</td>
<td width=140>
$(COUNTRY51)
</td>
<td width=120><a href="tel:$(COUNTRY51_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY51_PHONE)</a>
</td>
</tr>

<tr><td width=140>
$(COUNTRY26)
</td>
<td width=120><a href="tel:$(COUNTRY26_PHONE_DIAL),,[MEETING_ID]#[PIN_START],,,,,,[PIN]#[PIN_END],"
style="color:#E33F24;" target="_blank">$(COUNTRY26_PHONE)</a>
</td>
</tr>

</table>

&nbsp;<br/>

</td></tr>

<tr><td style="border-top:none;border-bottom:none;">
<p style="margin:1em;margin-left:1.5em;">
<span style="color:#E33F24;font-size:120%;">
<b>$(BEST_PRACTICES_TITLE)</b>
</span>
</p>
</td></tr>

<tr><td style="border-top:none;">
<ul>
<li>$(CHECK_SETTINGS)</li>
<li>$(UNMUTE_TO_SPEAK)</li>
<li>$(MUTE_NOT_SPEAKING)</li>
</ul>
</td></tr>

</tbody>
</table>

</div>